@model ITLA_Jobs.Models.Vacante
@using ITLA_Jobs.Models
@using ITLA_Jobs.Controllers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Publicar";

    #region Logica DropDownList

    BolsaTrabajoEntities db = new BolsaTrabajoEntities();
    var categorias = db.Categoria.ToList();

    SelectList lista = new SelectList(categorias, "Id", "Nombre");
    ViewBag.categoria = lista;

    #endregion
}

<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8 text-center">

        @using (Html.BeginForm("Create", "Vacantes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>PUBLICAR TRABAJO</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la compañía" } })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Direccion_url, new { htmlAttributes = new { @class = "form-control", placeholder = "Dirección URL" } })
                        @Html.ValidationMessageFor(model => model.Direccion_url, "", new { @class = "text-danger" })
                    </div>
                </div>
            

                <div class="form-group">
                    <div class="ml-3 ml-md-4 col-11" >
                            <input type="file" name="LogoFile" class="custom-file-input " />
                            <label class="custom-file-label text-left">Selecccionar logo de su compañia...</label>
                            @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Posicion, new { htmlAttributes = new { @class = "form-control", placeholder = "Posición para ofrecer" } })
                        @Html.ValidationMessageFor(model => model.Posicion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control", placeholder = "Ubicación de la compañía" } })
                        @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.CorreoAplicar, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo para aplicar" } })
                        @Html.ValidationMessageFor(model => model.CorreoAplicar, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col d-flex">
                        @Html.DropDownListFor(model => model.Categoria, ViewBag.categoria as SelectList, "Seleccione categoria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                        <textarea name="Descripcion" id="Descripcion" cols="30" rows="10" placeholder="Descripción o Requisitos de la posición" class="form-control textarea"></textarea>
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.Tipo, "Remoto")
                                Remoto
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.Tipo, "Medio tiempo")
                                Medio Tiempo
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.Tipo, "Tiempo completo")
                                Tiempo Completo
                            </label>
                        </div>
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col mb-2">
                        <input type="submit" value="Publicar" class="btn btn-primary btn-lg btn-block" />
                    </div>
                    <div class="col">
                        <a href="/Vacantes/Index" class="btn btn-primary btn-block btn-lg">Vacantes</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
