@model ITLA_Jobs.Models.Vacante
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@{
    if (Model.EmailUsuario == User.Identity.GetUserName())
    {
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Vacante</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion_url)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion_url)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Logo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Logo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Posicion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Posicion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ubicacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CorreoAplicar)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CorreoAplicar)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailUsuario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailUsuario)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    } else
            {
                <h1>No puedes borrar esta vacante</h1>
            }
}
