@model ITLA_Jobs.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Contraseña";
}

<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8 text-center">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2>Cambiar Contraseña</h2>
            <hr />
            <div class="form-group">
                <div class="col">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Contraseña Actual" })
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nueva Contraseña" })
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar Contraseña" })
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col">
                    <input type="submit" value="Cambiar Contraseña" class="btn btn-outline-primary btn-lg btn-block" />
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
